nav{
    background-color: #1d3557;
}
#home{
    background-color: #a8dadc;
}
#project{
    background-color: #a8dadc;
}
#contact-me{
    background-color: #a8dadc;
}
footer{
    background-color: #1d3557;
}
section{
    padding-top: 5rem;
}
.btn-colors{
    background-color: #457b9d;
}